.heading{
    color:#59DB8A;
    text-align: center;
}
.timer-contt{
    margin-top: 4rem;
}
.timercont{
    display: flex;
    justify-content: center;
}
.timer-box{
    height: 6rem;
    width:5rem;
    background-color:#20193f;
    box-shadow: -2px -3px 0 0 rgb(79, 196, 79);
    border-radius: 0 0  1.2rem 0;
    text-align: center;
    margin: 3rem 2.5rem;
    color:white;
}
.big-time{
    font-size: 2.4rem;
    margin-top: 0.5rem;
}
@media screen and ( max-width:900px){
   .timer-box{
       margin:3rem 0.2rem;
       height: 6.5rem;
       width:5rem;
   } 
   .big-time{
    font-size: 2.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}
}