.heading{
    color:#59DB8A;
    text-align: center;
}
.timercont{
    display: flex;
    justify-content: center;
}
.timer-box{
    height: 6rem;
    width:5rem;
    background-color: #1C172F;
    border-radius: 0.6rem;
    text-align: center;
    margin: 3rem 1.5rem;
    color:white;
}
.big-time{
    font-size: 2.4rem;
    margin-top: 0.5rem;
}
@media screen and ( max-width:900px){
   .timer-box{
       margin:3rem 0.2rem;
       height: 6.5rem;
       width:5rem;
   } 
   .big-time{
    font-size: 2.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}
}