.prizes-head{
    color:#59DB8A;
    text-align: left;
    margin-left: 1rem;
}
.prize-container{
     background-color: #1C172F;
     margin: 3rem 8rem 4rem 8rem ;
     border-radius: 2rem;
     padding: 2rem 3rem 2rem 3rem;
}
.list-item{
    color: white;
    margin: 1rem 2rem;
    font-size: 1.1rem;
}
ul{
    margin:2rem 0;
}
.prizes-btn{
    margin-left: 2rem;
}
@media screen  and (max-width:800px){
    .prize-container{
     background-color: #1C172F;
     margin: 3rem 1rem 4rem 1rem ;
     border-radius: 2rem;
     padding: 2rem 1rem 2rem 2rem;
}
}