.intro-cont{
    background-color: rgba(54, 41, 83, 0.7);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    justify-content: space-evenly;
}
.intro-1{
    text-align: center;
    margin: 0.8rem 2rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.big-text{
    font-size: 3rem;
    color:rgb(127, 255, 165);
}
.text-small{
    color:white;
    font-size: 1.1rem;
    margin-right: 0.3rem;
}
.event-intro{
    width: 18rem;
    margin: 2rem 1rem;
    border-radius: 1rem;
    background-color: #1C172F;
    border: 1px solid rgb(35, 42, 71);
    margin: 1rem;
}
.event-title{
    display: flex;
    justify-content: flex-start;
    padding: 1rem 1rem;
}
.event-emoji{
    height: 2rem;
    width:3rem;
    border-radius: 1rem;
    background-color: pink;
    text-align: center;
    margin-right: 1rem;
}
.fa-tools{
   margin-top: 0.5rem;
}
.event-big-text{
    color:rgb(60, 253, 156);
}
.event-small-text{
    padding: 1rem;
    padding-top: 0;
    color: white;
}
.intro-cont-child{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}
@media screen and (max-width:800px) {
  .intro-1{
    text-align: center;
    margin: 0.8rem 2rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  
.intro-cont-child{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
}
}